@{
    ViewData["Title"] = "Home Page";
}
@section CssOverrides {
    <link rel="stylesheet" href="~/css/site1.css" rel="Stylesheet" type="text/css">
    <!-- additional stylesheets -->
}

    <div class="text-center">
        <div class="logo">
        <img src="https://i.postimg.cc/SRZJRhfV/logo.jpg" />
        </div>
   
    </div>




